.result-container {
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
}

.result-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffdd57;
}

.score-box {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding: 15px;
    border-radius: 12px;
}

.pass {
    background: linear-gradient(135deg, #28a745, #218838);
}

.fail {
    background: linear-gradient(135deg, #ff512f, #dd2476);
}

.home-btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

    .home-btn:hover {
        transform: scale(1.1);
    }

